html{
  background-color: whitesmoke;
}

.container {
  margin: 20px auto;
  width: 750px;
  padding: 20px;
  border: 2px solid black;
  background-color: lightgrey;
}

th {
  text-align: left;
}

li {
  list-style-type:  square;
}

input[type=text], [type=password] {
  width: 65%;
}

.navbar {
  width: 100%;
  height: 25px;
  font-size: 16px;
  padding: 15px 30px;
  background-color: dimgrey
}

/*makes buttons appear as links*/
button {
  background:none!important;
  border:none; 
  padding:0!important;
  font-family: sans-serif;
  color:tomato;
  cursor:pointer;
}

a {
  font-family: sans-serif;
  color: tomato ;
}

a:link, button:link {
  text-decoration: none;
}

a:hover, button:hover {
  text-decoration: underline;
}

a:active, button:active {
  text-decoration: underline;
}
/**/

ul.review {
  list-style-type: none;
  padding: 5px;
  border: 1px solid dimgrey;
}

.login {
  flex-direction: column-reverse;
}

.error {
  color: red;
  font-style: italic;
}

.padded {
  padding-left: 1em;
  padding-right: 1em;
}

.left-pipe {
  border-left: 1px solid;
}

.right-pipe {
  border-right: 1px solid;
}

.edit .delete {
  text-decoration: underline;
}

.em-underline {
  color: #0000CD;
  font-style: italic;
  border-bottom:2px dotted #0000CD;
  position:relative;
}

.em-underline:after {
  border-bottom:2px dotted #0000CD;
   content:'';
  left:0;
  position:absolute;
  bottom:-5px;
  width:100%;
}
