<div class="content">
  <h1>Share Your Poetry</h1>

  <%= erb :"_errors", { layout: false, locals: { errors: @errors }} %>

  <%= erb :'poems/_form', { layout: false, locals: { poem: @poem}} %>
</div>
