<div class="container">
  <h1>Enter Potluck Details</h1>
  <% if @errors %>
    <% @errors.each do |error| %>
      <p class="error"><%= error %></p>
    <% end %>
  <% end %>

  <form action="/potlucks" method="post">
    Name:<br>
    <input type="text" name="potluck[name]">
    <br><br>
    Location:<br>
    <input type="text" name="potluck[location]">
    <br><br>
    Starts At:<br>
    <input type="datetime-local" name="potluck[start_time]">
    <br><br>
    <input type="submit" value="Save Potluck">
  </form> 
</div>
